* {
    background-color: rgba(98,48,109,255);
 
}
 
/* Using the "border-radius" property
to draw the semi-circle*/

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(98,48,109,255);
  }
 
.semi-circle {
   transform: translate(-50%, -50%);
   height: 5rem;
   width: 5rem;
   border-radius: 0 0 10rem 10rem;
   margin-left: 5rem;
   margin-right: 0rem;
   background-color: rgba(253,197,123,255);
}

.semi-circle-inverse {
   transform: translate(-50%, -50%);
   height: 5rem;
   width: 5rem;
   margin-left: 10rem;
   margin-top: 5rem;
   border-radius: 10rem 10rem 0 0;
   background-color: rgba(253,197,123,255);
 }
